*{
    padding: 0px;
    border: 0px; 
    margin: 0px;
}

header {
    background-image: url(ceu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    width: auto;
    background-color: rgb(224, 146, 45);
    border-bottom: #170688 solid 6px;
    box-shadow: 20px 10px rgb(225, 221, 221);
}

header .titulo_grande {
    font-size: 1.0rem;
    padding: -30px;
    font-family: Papyrus, fantasy;
    color: #53a5f7;
    background-color: #170688;
    border-bottom: #000000 solid 3px;
}

header .mytit {
    position: absolute;
    font-family: Optima;
    color: #170688;
    font-weight: 800;
    font-size: 5rem;
    letter-spacing: -3px;
}

header .sub_titulo {
    position: absolute;
    font-size: 1.3rem;
    font-family: Optima;
    top: 100px;
    color: #170688;
    top: 130px;
    left: 30px;
}

header .lista {
    list-style: none;
    display: flex;
    color: #fefefe;
}

header .lista .a{
    background-color: #170688;
    position: absolute;
    top: 150px;
    left: 415px;
    font-size: 1.5rem;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    border: #000000 solid 2px;
    box-shadow: 10px 5px rgb(68, 95, 184);
    transition: all 0.5;
    cursor: pointer;
}

header .lista .a:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    
}

header .lista .b{
    position: relative;
    margin-left: 60px;
}
