*{
    padding: 0px;
    border: 0px; 
    margin: 0px;
}

.ancora {
    position: absolute;
    top: 5000px;
}

header {
    background-image: url(imagens/design1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: auto;
    border-bottom: #6d0202 solid 4px;
}

.cima {
    height: 10px;
    width: auto;
    background-color: #6e0505;
    border-bottom: #000000 solid 2px;
}

header .mytit {
    position: absolute;
    font-family: maharlika;
    color: #730000;
    font-weight: 1000;
    font-size: 8rem;
    letter-spacing: -3px;
    left: 30px;
    top: 40px;
    text-shadow: 0.01em 0.01em 0.01em rgb(0, 0, 0)
}

header .sub_titulo {
    position: absolute;
    font-size: 1.5rem;
    font-family: Optima;
    color: #6e0505;
    top: 140px;
    left: 85px;
}

header .lista {
    list-style: none;
    display: flex;
    color: #fefefe;
}

header .lista .a{
    background-color: #6e0505;
    position: absolute;
    top: 220px;
    left: 35rem;
    font-size: 1.5rem;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    border: #000000 solid 2px;
    box-shadow: 10px 5px rgb(68, 19, 19);
    transition: all 0.5;
    cursor: pointer;
}

header .lista .a:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    
}

header .lista .b{
    position: relative;
    margin-left: 60px;
}

body {
    background-color: #030405;
}

.inicio .img1 {
    width: 690px;
    border: #6d0202 solid 3px;
    border-radius: 8px;
    position: absolute;
    top: 370px;
    right: 150px;
}

.inicio .tit {
    font-size: 5rem;
    position: absolute;
    top: 360px;
    color: #a30000;
    line-height: 55px;
    font-family: Optima;
    left: 100px;
}

.inicio p {
    font-family: Optima;
    position: absolute;
    left: 100px;
    color: #e1e1e1;
    font-size: 1.2rem;
    text-align: justify;
    width: 630px;
}

.inicio .b {
    top: 700px;
    position: absolute;
}
.inicio .a {
    top: 500px;
    position: absolute;
}

.inicio .seta-direita {
    font-size: 5rem;
    position: relative;
    top: 15rem;
    left: 111rem;
}

.inicio .seta-esquerda {
    font-size: 5rem;
    position: relative;
    top: 6rem;
    left: 62rem;
}

main .loja1 {
    position: relative;
    width: auto;
    height: 700px;
    top: 400px;
    border-top: #6d0202 solid 4px;
    border-bottom: #6d0202 solid 4px;
    background-color: #6e0505;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .loja1 .card {
    margin-top: 50px;
    width: 375px;
    height: 600px;
    background-color: #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin-left: 90px;
    border: solid 3px #000000;
    background-color: #030405;
    box-shadow: 5px 5px rgb(58, 14, 14);
}

main .loja1 .card img{
    width: 100%;
    height: 400px;
    border-bottom: solid 3px #470000;
}

main .loja1 .card .card-conteudo {
    padding: 16px;
    color: #e8e5e5;
}

main .loja1 .card .card-conteudo p{
    text-align: justify;
    width: 280px;
    position: relative;
    top: -5px;
    font-family:  sans-serif;
    line-height: 18px;
}

main .loja1 .card .card-conteudo h5{
    font-family: maharlika;
    font-size: 2rem;
    color: #a30000;
    font-weight: 900;
}

main .loja1 .card .card-conteudo .btn{
    color: #fefefe;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #a30000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 110px;
    top: 25px;
    transition: all 0.5;
    cursor: pointer;
}

main .loja1 .card .card-conteudo .btn:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

main .tabela {
    background-color: #e1e1e1;
    position: absolute;
    top: 50%;
}